<!--1. สร้างฟอร์ม
    2. Database
    3. ผูก2อันรวมกัน -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <h3 class="text-light">Employee Dashboard</h3>
        <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        (click) ="clickAdd()">
            <b>+ </b>
            Add New Employee
        </button>
    </div>
</nav>
<table class="table text-center mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Salary</th>           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of EmployeeData">
            <td>{{data.id}}</td>
            <td>{{data.Firstname}}</td>
            <td>{{data.Lastname}}</td>
            <td>{{data.Email}}</td>
            <td>{{data.Phone}}</td>
            <td>{{data.Salary}}</td>
            <td>
                <button class="btn btn-danger me-3" (click)="deleteEmployee(data.id)">Delete</button>
                <button class="btn btn-info text" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="clickEdit(data)" >Update</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal เด้ง pop-up-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Employee Dashboard</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formEmployee"> 
            Firstname 
            <input type="text" class="form-control"
            formControlName="Firstname">
            Lastname 
            <input type="text" class="form-control"
            formControlName="Lastname">
            E-mail
            <input type="text" class="form-control"
            formControlName="Email">
            Phone 
            <input type="text" class="form-control"
            formControlName="Phone">
            Salary 
            <input type="text" class="form-control"
            formControlName="Salary">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close">Close</button>
        <button type="button" class="btn btn-primary" (click)="postEmployee()" *ngIf="showAdd">Save</button>
        <button type="button" class="btn btn-success" (click)="updateEmployee()" *ngIf="showUpdate">Update</button>
      </div>
    </div>
  </div>
</div>